* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul, ol, li, menu, a  {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }

  body {
    margin: 0; 
    padding: 0; 
    background-size: cover; 
    background-image: url(https://cdn.pixabay.com/photo/2022/09/18/22/19/matrix-7464143_1280.jpg);
    background-position: center; 
    height: 100vh; 
    overflow:scroll;
    color: white; 
    font-family: Arial, sans-serif; 
    background-color: #333333;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;  
  height: 100%;
  background: rgba(255, 255, 255, 0.1); 
  color: black;
  border: 1px solid black;
  border-radius: 1.5em;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
  backdrop-filter: blur(5px);
  filter: drop-shadow(30px 30px 50px black);
}

